<% @page_title = "Welcome to Candy Shop" %> 


<div class="header text-center mt-5">
   Welcome to Candy Shop
</div>

<%= form_for(@shop_new) do |f| %>
<div class="form text-center mt-3">
    <%= f.text_field(:name, :placeholder=> "Enter the name of shop........",
                     :class=>"form-control form-control-lg shop-input")%>
    <%= render(:partial => 'validation', :locals => {:f => f}) %>
    <%= f.submit("Create Shop",:class=>"btn btn-primary btn-custom btn-lg mt-3" ) %>
</div>
<% end %>


<div class="sub-header text-center mt-4">
    Visit Shops
</div>

<div class="row shop-names">
    <% if @shops.size == 0 %>
        <div class="col-md-12 text-center"> No shops created</p>
    <% else %>
        <% @shops.each do |shop| %>
            <div class="col-lg-4 col-md-4 col-12 mt-2 mb-2 pl-5 pr-5 text-md-left text-center">
                    <%= image_tag 'sweet.png' %>
                    <%= link_to(shop.name, shop_path(shop.id), :class => 'shop-name') %>
            </div> 
        <% end %>
    <% end %>
<div>
