<% @page_title = @shop.name %>
<h1>
    <%= @shop.name %>
</h1>

<p>Add a shelf? </p>
<%= form_for([@shop, @shop.shelves.build]) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= f.submit("Create Shelf") %>
    </div>
<% end %>

<p>Add a candy? </p>
<%= form_for([@shop, @shop.candies.build]) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= f.submit("Create Candy") %>
    </div>
<% end %>

<h3>Unshelved Candies </h3>


	<% @unshelved_candies.each do |candy| %>
	    <p><%= candy.id %> <%= candy.name %> </p>
	    
	<% end %>


<h3>Shelved Candies </h3>
<% @shelves.each do |shelf| %>
   <% if shelf.name %>
     <%= shelf.name %> 
     <%= form_for(shelf, :url => shop_shelf_path(:id => shelf.id, :shop_id => @shop.id), :method => 'delete') do |f| %>
                <%= f.submit("[Remove shelf]") %>
      <% end %> 

	     <ul>
		     <% shelf.candies.each do |candy| %>
	             <li> <%= candy.name %>  </li>
	             <%= form_for(candy, :url => shop_candy_path(candy, :shop_id => @shop.id), :method => 'patch') do |f| %>
	                        <%= hidden_field_tag 'selected', false  %>
	                        <%= f.submit("[X]") %>
	              <% end %>  
		     <% end %>
	     </ul>
     <% end %>
<% end %>