<% @page_title = @shop.name %>

<div class="back text-left mt-4">
    <%= link_to('<i class="fas fa-arrow-left"></i>'.html_safe, "/") %>
    <%= link_to("Home", "/") %>
</div>

<div class="header text-center">
     <%= @shop.name %>
</div>



<div class="row mt-3">
    <div class="col-md-6 text-md-left text-center">
        <%= form_for([@shop, @shop.shelves.build]) do |f| %>
            <%= render(:partial => 'form', 
                       :locals => {:f => f, :header => "Add a Shelf", :placeholder => "Enter a shelf name"}) %>
        <% end %>
    </div>

    <div class="col-md-6 text-md-left text-center">
        <%= form_for([@shop, @shop.candies.build]) do |f| %>
            <%= render(:partial => 'form',
                       :locals => {:f => f, :header => "Add a Candy", :placeholder => "Enter a candy name"}) %>
        <% end %>
    </div>
</div>


<div class="row shelf mt-5">
       <div class="col-md-6 col-12 unshelved p-4">
           <div class="col-md-12 sub-header2 text-center">
                Unshelved Candies <span class="msg"> [Click on a candy to move to shelf]
            </div>
            <% if @unshelved_candies.count == 0 %>
                <div class="col-md-12 text-center candies mt-3">
                        No unshelved candies   
                </div>
                <% else %>
                <div class="col-md-12 candies mt-3 text-center">
                    <% @unshelved_candies.each do |candy| %>
                        <span class="candy" data-toggle="modal" data-target="#exampleModal<%= candy.id %>">
                              <%= candy.name %>
                        </span>
                        <div class="modal fade" id="exampleModal<%= candy.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Move to a shelf</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <%= form_for(candy, :url => shop_candy_path(candy, :shop_id => @shop.id), :method => 'patch') do |f| %>
                                    <div class="modal-body">
                                            <%= hidden_field_tag 'move_to_shelf', "1"  %>
                                            <%= f.select(:shelf_id, @shop.shelves.collect { |shelf| [shelf.name, shelf.id]}) %>
                                    </div>      
                                    <div class="modal-footer">
                                            <%= f.submit("Confirm",:class=>"btn btn-primary btn-custom" ) %>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                              <% end %> 
                            </div>
                          </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
       </div>

       <div class="col-md-6 col-12 shelved p-4">
             <div class="col-md-12 sub-header2 text-center">
                    Shelved Candies <span class="msg"> [Click on a candy to remove from shelf]
             </div>
             <% if @shop.shelves.count == 0 %>
                    <div class="col-md-12 candies mt-3 text-center">
                            No shelves
                    </div>
                    <% else %>
                     <% @shop.shelves.each do |shelf| %>
                        <% if shelf.name %>
                            <div class="col-md-12 candies mt-3 text-center">
                            <div class="row single-shelf mb-3">
                                    <div class="col-md-4 shelf-name text-center pt-3 pb-3">
                                     
                                        <%= form_for(shelf,
                                            :url => shop_shelf_path(:id => shelf.id, :shop_id => @shop.id),
                                            :data => {:confirm => "Are you sure you want to delete the shelf?"},
                                            :method => 'delete') do |f| %>
                                                <%# shelf.id %>
                                                
                                                <%= shelf.name %>
                                                <%= button_tag( :class => "btn btn-link") do %>
                                                <i class="fas fa-times-circle cross-icon"></i>
                                            <% end %>
                                        <% end %> 
                                       
                                    </div>
                                    <% if shelf.candies.count == 0 %>
                                    <div class="col-md-8 candy-div text-center pt-3 pb-3">
                                        No candies
                                    </div>
                                    <% else %>
                                        <div class="col-md-8 candy-div">
                                          <% for candy in @shelf.candies %>
                                              <span class="candy candy-unshelved" data-name=<%= candy.name %>>
                                                    <%= candy.name %>
                                                    <%= form_for(candy, :url => shop_candy_path(candy, :shop_id => @shop.id), :method => 'patch') do |f| %>
                                                        <%= hidden_field_tag 'move_to_shelf', "0"  %>
                                                        <%= f.submit("[X]") %>
                                              <% end %>  
                                              </span>
                                          <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div> 
                         <% end %>
                      <% end %>
                    <% end %>   
       </div>
</div>


<% @shop.candies.each do |candy| %>
          1. <%= candy.name %>
    <% end %>